<div style="text-align: center">
  <div class="row">
    <div class="col-12">
      <img src="{{detailContact.imgPath}}" class="img-fluid" alt="contact selected picture should be here">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>{{detailContact.name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Meet</button>
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>{{detailContact.description}}</p>
    </div>
  </div>
</div>
