<div class="row">
  <div class="col-12" style="text-align: center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default" style="color: #bd89e7">NAME</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default" style="color: #bd89e7">DATE (dd/mm/yy)</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="btn-group" role="group" style="text-align: center">
      <button type="button" class="btn btn-primary">SAVE</button>
      <button type="button" class="btn btn-danger">CLEAR</button>
    </div>
  </div>
</div>
