<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-12 form-group">
          <label for="date"></label>
          <input type="datetime-local" name="date" id="date" class="form-control" #dateInput>
          <label for="name"></label>
          <input type="text" name="with" id="name" class="form-control" #nameInput>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 btn-group" role="group">
          <button class="btn btn-success" type="button" (click)="onNewCMeetingSub()">Create</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteClick()">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
